<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
<classPathEntry location="C:\Program Files\Java\jdk1.8.0_202\jre\lib\ext\mysql-connector-java-8.0.11.jar"></classPathEntry>
<context id="context1">
<jdbcConnection connectionURL="jdbc:mysql://localhost:3306/serachborad_db?characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;useSSL=false"
driverClass="com.mysql.cj.jdbc.Driver"
password="Daiki8863" userId="root" />
<javaModelGenerator targetPackage="com.dreamhanks.searchborad.dto" targetProject="SearchBorad/src/main/java" />
<sqlMapGenerator targetPackage="mappers" targetProject="SearchBorad/src/main/resources" />
<javaClientGenerator targetPackage="com.dreamhanks.searchborad.dao" targetProject="SearchBorad/src/main/java" type="XMLMAPPER" />
<table schema="serachborad_db" tableName="borad"/>
</context>
</generatorConfiguration>